.paginate {
  .page-link {
    background-color: #f8e9f0;
    border-color: #79043c;
    color: #79043c;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .page-link:hover {
    background-color: #79043c;
    color: #f8e9f0;
  }
  .active {
    background-color: #79043c;
    color: #f8e9f0;
  }
  .disabled {
    background-color: rgb(226, 228, 227);
  }
}
