.error {
  margin-top: 50px;
  background-color: #f8e9f0;
  padding: 20px 50px;

  .title-error {
    color: #79043c;
  }

  .btn-error {
    background-color: #79043c;
    border: none;
    color: #f8e9f0;
  }
  .btn-error:hover {
    background-color: #504c4e;
  }
}
