.shop {
  margin: 10rem auto;
  .filter {
    background-color: #79043c;
  }
  .loadingProducts {
    color: #79043c;
    font-size: 3rem;
  }
  .spiner {
    color: #79043c;
  }
  .products {
    width: 100%;
  }
}

