.home {
  margin-top: 8rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .container-column {
    width: 85%;
    position: fixed;
    top: 0;
    height: 100%;
  }

  .col-overlay div {
    height: 100%;
  }

  .inner-col {
    background-color: #ffcece;
    opacity: 0.2;
  }

  .poster {
    background-image: url("/public/images/poster.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
  .poster-title {
    color: #fff;
    font-size: 1.3rem;
    width: 90%;
    margin: 0 auto;
    padding-top: 30%;
  }
  .poster-btn {
    margin-top: 0.6rem;
    padding: 3px 8px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    position: relative;
  }
  .poster-btn:hover {
    background-color: #fff;
    color: #79043c;
  }

  @media (min-width: 640px) {
    .poster-title {
      font-size: 2.5rem;
      padding-top: 30%;
    }
    .poster-btn {
      margin-top: 1rem;
      padding: 8px 16px;
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }
  }
  @media (min-width: 992px) {
    .poster-title {
      font-size: 4.5rem;
      padding-top: 30%;
    }
    .poster-btn {
      margin-top: 2rem;
      padding: 8px 16px;
      font-size: 2rem;
    }
  }

  .product-img {
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
  }
  .product-img h3 {
    font-size: 1.5rem;
    padding: 2.5rem 0;
  }
  .products .overlay-img {
    position: relative;
  }
  .container-column-product {
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
  }
  .col-overlay-product div {
    height: 100%;
  }
  .inner-col-product {
    background-color: #131212;
    opacity: 0.2;
  }
  .products-title {
    font-size: 2rem;
    margin: 6rem 0 3rem 0;
  }

  .prodcuts-desc {
    background: linear-gradient(
      to bottom,
      #79043c 0%,
      #79043c 40%,
      rgb(121, 4, 61, 0) 40%,
      rgb(121, 4, 61, 0) 100%
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7rem 0;
  }
  .prodcuts-desc-img img {
    width: 70%;
  }
  .prodcuts-desc-brand {
    max-width: 90%;
    margin-top: 2rem;
  }
  .prodcuts-desc-brand-btn {
    margin-top: 2rem;
    padding: 0.8rem 1.6rem;
    color: #79043c;
    border: 1px solid #79043c;
    font-size: 1.2rem;
    position: relative;
  }
  .prodcuts-desc-brand-btn:hover {
    background-color: #fff;
    color: #79043c;
  }
  .prodcuts-desc-title-mobile {
    padding: 2rem;
    color: #fff;
    font-size: 2.5rem;
  }
  .prodcuts-desc-title-desktop {
    display: hidden;
  }
  .prodcuts-desc-brand-text {
    font-size: 1.4rem;
  }
  @media (min-width: 640px) {
    .product-img-container img {
      max-width: 19rem;
    }
    .products-title {
      font-size: 3.5rem;
      margin: 5rem 0 6rem 0;
    }
    .product-img h3 {
      font-size: 2rem;
    }
    .prodcuts-desc-title-mobile {
      display: none;
    }
    .prodcuts-desc-title-desktop {
      display: block;
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
    }
    .prodcuts-desc-brand-text {
      font-size: 1.4rem;
    }
    .prodcuts-desc-brand-btn {
      font-size: 1.4rem;
      background-color: transparent;
      color: #fff;
      border: 1px solid #fff;
      transition: all 0.3s ease-in-out;
    }

    .prodcuts-desc {
      flex-direction: row-reverse;
      background: transparent;
      max-width: 85%;
      margin: 5rem auto;
      text-align: left;
    }
    .prodcuts-desc-brand {
      width: 65%;
      margin: 0;
      padding: 2rem;
      color: #fff;
      height: 30rem;
      background-color: rgb(61, 2, 30);
      /* opacity: 0.85; */
    }
    .prodcuts-desc-img {
      height: 30rem;
    }
    .prodcuts-desc-img img {
      width: 100%;
      height: 100%;
      /* opacity: 0.85; */
      object-fit: cover;
    }
  }
  @media (min-width: 992px) {
    .product-img-container img {
      max-width: 23rem;
    }
    .prodcuts-desc-brand {
      height: 25rem;
    }
    .prodcuts-desc-img {
      height: 25rem;
    }
  }

  // best sellers
  .bestSeller {
    margin-bottom: 15rem;
  }
  .bestSellers-product-img,
  .bestSellers-product-img-mobile-newIn {
    background-color: rgba(212, 212, 212, 0.316);
    text-align: center;
  }
  .bestSellers-product-img img {
    max-width: 20rem;
  }
  .container {
    width: 85% !important;
  }
  .bestSellers-product-title {
    font-size: 1.6rem;
    color: #79043c;
    padding: 0 1.6rem;
    margin: 0.8rem 0;
  }
  .bestSellers-product-desc {
    font-size: 1.2rem;
    padding: 0 1.6rem;
    color: #0c0c0c;
    margin-bottom: 1.2rem;
  }
  .bestSellers-product-price {
    font-size: 18px;
    padding: 0 1.6rem;
    color: #0c0c0c;
  }

  //newin
  .newIn-mobile .newIn-firstSlide-title {
    color: #ffffff;
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
  }
  .newIn-firstSlide {
    padding: 1.6rem 2rem;
  }
  .newIn-firstSlide-img {
    text-align: center;
  }
  .newIn-firstSlide-img {
    width: 90%;
    margin: 0 auto;
    background-color: #0c0c0c;
  }
  .newIn-firstSlide img {
    max-width: 100%;
  }
  .newIn-firstSlide-desc-title {
    color: #fdabd2;
    margin-top: 1.2rem;
    font-size: 2rem;
    text-align: center;
  }

  .newIn-firstSlide-desc {
    color: #ffffff;
    font-size: 1.4rem;
    margin-top: 1.2rem;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding-top: 1.5rem;
  }

  @media (min-width: 768px) {
    .newIn-mobile-container {
      display: none;
    }
    .newIn-desktop {
      width: 100%;
      background-color: rgb(61, 2, 30);
      display: block;
    }
    .newIn-firstSlide-title {
      padding-top: 3.8rem;
      text-align: center;
      color: #ffffff;
      font-size: 2.4rem;
    }
    .newIn-desktop-container {
      max-width: 85%;
      margin: 0 auto;
      display: flex;
      padding: 3.4rem 0 10.4rem 0;

      justify-content: space-between;
      align-items: flex-start;
    }

    .newIn-firstSlide {
      width: 49%;
      padding: 0;
    }
    .newIn-desktop .newIn-product-img {
      text-align: center;
      /* height: 35rem; */
    }
    .newIn-firstSlide img {
      max-width: 100%;
    }
    .newIn-product-img {
      width: 100%;
    }
    .newIn-product-img img {
      max-width: 15rem;
    }
    .newIn-product {
      /* background-color: blue; */
      /* padding-bottom: 2.4rem; */
      margin-left: 1.2rem;
      background-color: #fff;
      padding: 0 0 02rem 0;
    }
    .newIn-product-title {
      font-size: 1.6rem;
      color: #79043c;
      padding: 0 1.6rem;
      margin: 0.8rem 0;
    }

    .newIn-secoundSlide {
      max-width: 50.5%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    .newIn-product-desc {
      padding: 0 1.6rem;
      color: #0c0c0c;
      margin-bottom: 1.2rem;
      font-size: 1.2rem;
    }
    .newIn-product-price {
      font-size: 18px;
      padding: 0.8rem 1.6rem 0 1.6rem;
      color: #0c0c0c;
    }
    .newIn-mobile {
      display: none;
    }
  }
  @media (min-width: 900px) {
    .newIn-product-img {
      width: 100%;
    }
    .newIn-product-img img {
      max-width: 20rem;
      background-color: #1e1e1e;
    }
  }
  //offer

  @media (min-width: 768px) {
    .offer-mobile {
      display: none;
    }
    .offer-desktop {
      max-width: 85%;
      margin: 15rem auto;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;
    }
    .offer-desktop-img {
      width: 50%;
      margin: 0 auto;
    }
    .offer-desktop-img img {
      width: 100%;
      object-fit: cover;
    }
    .offer-desktop-detail {
      /* margin-top: 5.4rem; */
      width: 50%;
      margin: 0 auto;
    }
    .offer-desktop-detail-title1 {
      font-size: 2.4rem;
      color: #0c0c0c;
    }
    .offer-desktop-detail-title2 {
      font-size: 3.2rem;
      color: #a10550;
      margin: 0.8rem 0 0.4rem 0;
    }
    .offer-desktop-detail-desc1 {
      font-size: 1.6rem;
      color: #0c0c0c;
    }
    .offer-desktop-detail-desc2 {
      font-size: 1.6rem;
      color: #a10550;
      margin-top: 0.8rem;
    }
    .offer-desktop-detail-btn {
      font-size: 1.6rem;
      border: 1px solid #a10550;
      margin-top: 0.8rem;
      transition: all 0.3s ease-in-out;
      position: relative;
    }
    .offer-desktop-detail-btn a {
      color: #a10550;
      padding: 0.8rem 1.6rem;
      display: inline-block;
      cursor: pointer;
    }
    .offer-desktop-detail-btn :hover {
      background-color: #a10550;
      color: #ffffff;
      cursor: pointer;
    }
  }

  //analysis
  @media (min-width: 768px) {
    .analysis-mobile {
      display: none;
    }
    .analysis-desktop {
      display: block;
    }
    .analysis-desktop {
      background-color: #79043c;
      margin-bottom: 30rem;
      height: 16rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 85%;
      margin: 0 auto;
    }
    .analysis-desktop-detail {
      width: 50%;
      padding: 0 1rem 2.3rem 1rem;
    }
    .analysis-desktop-detail-title {
      font-size: 2rem;
      margin: 2rem 0 0.4rem 0;
      color: #ffffff;
    }
    .analysis-desktop-detail-desc {
      font-size: 1rem;
      padding-bottom: 0.5rem;
      color: #ffffff;
    }
    .analysis-desktop-detail-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 0.2rem;
    }
    .analysis-desktop-detail-table {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }
    .analysis-desktop-info-scan {
      font-size: 1.2rem;
      color: #ffffff;
      margin-bottom: 0.3rem;
    }
    .analysis-desktop-info-or {
      color: #ffffff;
      font-size: 1rem;
      margin-bottom: 0.4rem;
    }
    .analysis-desktop-info-btn {
      outline: none;
      border: none;
      background-color: transparent;
      // position: relative;
      transition: all 0.3s ease-in-out;
      width: 22rem;
      border: 1px solid #fff;
      cursor: pointer !important;
      padding: 1rem 0;
    }
    .analysis-desktop-info-btn:hover {
      background-color: #fff;
      color: #a10550;
      border: 1px solid #a10550;
    }
    .analysis-desktop-info-btn a {
      color: #dfdfdf;
    }
    .analysis-desktop-detail-img {
      /* background-color: rebeccapurple; */
      text-align: center;
    }
    .analysis-desktop-detail-img img {
      width: 50%;
    }
    .analysis-desktop-img {
      width: 50%;
      height: 100%;
    }
    .analysis-desktop-img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  @media (min-width: 1024px) {
    .analysis-desktop {
      height: 21rem;
    }
    .analysis-desktop-detail {
      padding: 0 1rem 2.3rem 1rem;
    }
    .analysis-desktop-detail-title {
      font-size: 2.4rem;
      margin: 2.4rem 0 0.8rem 0;
    }
    .analysis-desktop-detail-desc {
      font-size: 1.4rem;
      padding-bottom: 0.8rem;
    }
    .analysis-desktop-detail-info {
      margin-top: 0.5rem;
    }

    .analysis-desktop-info-scan {
      font-size: 1.6rem;
      margin-bottom: 0.8rem;
    }
    .analysis-desktop-info-or {
      font-size: 1.4rem;
      margin-bottom: 0.8rem;
    }

    .analysis-desktop-info-btn a {
      font-size: 1.6rem;
    }
  }
  // blog
  /*blog mobile  */
  .blog-desktop {
    display: none;
  }

  .blog-mobile {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 2.4;
    margin-bottom: 4rem;
  }
  .blog-mobile-title {
    font-size: 2.4rem;
    color: #0c0c0c;
    margin-bottom: 1.6rem;
    text-align: center;
  }
  .blog-mobile-item {
    border: 1px solid rgb(220, 219, 219);
    margin-bottom: 2rem;
  }
  .blog-mobile-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    padding-bottom: 2rem;
  }
  .mobile-item-img {
    margin: 0 auto;
  }
  .mobile-item-img img {
    width: 100%;
  }

  .blog-mobile-item-table {
    margin-top: 0.8rem;
    padding: 0 0.8rem 0.8rem 0.8rem;
  }
  .blog-mobile-item-empty {
    height: 2rem;
  }
  .blog-mobile-item-title {
    font-size: 1.6rem;
    color: #0c0c0c;
    margin-bottom: 0.4rem;
  }
  .blog-mobile-item-info {
    font-size: 1rem;
    color: #606060;
    margin-bottom: 0.8rem;
  }
  .blog-mobile-item-info-dash {
    height: 10px;
    width: 1px;
    display: inline-block;
    background-color: #606060;
    margin: 0 1rem;
  }
  .blog-mobile-item-desc {
    font-size: 1.4rem;
    color: #0c0c0c;
  }
  /* blog-desktop */

  @media (min-width: 768px) {
    .blog-mobile {
      display: none;
    }
    .blog-desktop {
      display: block;
      width: 85%;
      margin: 15rem auto;
    }
    .blog-desktop-title {
      font-size: 2.4rem;
      color: #0c0c0c;
      text-align: center;
      margin-bottom: 3.2rem;
    }
    .blog-desktop-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      grid-column-gap: 2rem;
    }
    .blog-item {
      border: 1px solid #dfdfdf;
      padding: 0 0 2.4rem 0;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      z-index: -100;
    }
    .blog-item-overlay {
      width: 85%;
      position: absolute;
      top: 0;
      height: 100%;
      width: 85%;
      margin: 0 auto;
      background-color: #79043d78;
    }
    .blog-item-table {
      margin: 2.4rem;
    }
    .blog-item-title {
      font-size: 2rem;
      color: #0c0c0c;
      margin-bottom: 0.8rem;
    }
    .blog-item-img {
      text-align: center;
      max-width: 35rem;
      margin: 0 auto;
    }
    .blog-item-img img {
      width: 100%;
      /* max-width: 34rem; */
      margin: 0 auto;
    }

    .blog-item-info {
      color: #606060;
      font-size: 1.2rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 1.6rem;
    }
    .blog-item-info-dash {
      height: 15px;
      width: 1px;
      display: inline-block;
      background-color: #606060;
      margin: 0 1rem;
    }
    .blog-item-desc {
      font-size: 1.6rem;
      color: #0c0c0c;
    }
  }

  /*logo-group*/
  .logo-group {
    position: relative;
    width: 85%;
  }

  .container-column-logo {
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
  }
  .col-overlay-logo div {
    height: 100%;
  }
  .inner-col-logo {
    background-color: #79043d78;
    opacity: 0.2;
  }

  .logo-img img {
    height: 2rem;
    width: 2rem;
  }
  .logo-text {
    color: #79043c;
    font-size: 1.2rem;
    margin-left: 1rem;
  }

  @media (min-width: 768px) {
    .logo-img img {
      height: 4rem;
      width: 4rem;
    }
    .logo-text {
      font-size: 1.5rem;
    }
  }
}
[data-bs-theme="dark"] .home {
  .bestSellers-product-desc,
  .bestSellers-product-price,
  .offer-desktop-detail-title1,
  .offer-desktop-detail-desc1 {
    color: #d8e2e6;
  }
  .newIn-product {
    background-color: #0c0c0c;
  }
  .blog-desktop-title,
  .blog-item-title {
    color: #d8e2e6;
  }
  .blog-item-info,
  .blog-item-desc {
    color: #fff;
  }
}
