.panel {
  margin-top: 8rem;
  .link {
    color: #79043c;
    font-weight: bold;
    font-size: 2rem;
  }
  .link:hover {
    background-color: #504c4e;
    color: #f8e9f0;
  }
  .active {
    // background-color: #79043c;
    // color: #f8e9f0;
  }
  .sideBar {
    background-color: #f8e9f0;
    border-top: 1px solid #fff;
  }
}
