.contact {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* main */
  /* items */
  /*logo-group*/
}

.contact .container-column {
  width: 85%;
  position: fixed;
  top: 0;
  height: 100%;
}

.contact .col-overlay div {
  height: 100%;
}

.contact .inner-col {
  background-color: #ffcece;
  opacity: 0.2;
}

.contact .container-contact {
  width: 85%;
  margin: 0 auto;
}

.contact .contact-us {
  margin-top: 10rem;
  z-index: 99;
  position: relative;
  padding: 0 0.8rem 1.6rem 0.8rem;
}

.contact .form-check-input:checked {
  background-color: #79043c;
  border: #79043c;
}

.contact .backbtn {
  background-color: #fff;
  color: #79043c;
  padding: 5px 12px;
  border: 1px solid #79043c;
}

.contact .backbtn:hover {
  color: #fff;
  background-color: #79043c;
}

.contact .contact-us-form-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact .contact-us-desc {
  margin-bottom: 3.2rem;
}

.contact .contact-us-desc h2 {
  font-size: 2.4rem;
  color: #0c0c0c;
  margin-bottom: 1.2rem;
}

.contact .contact-us-desc p {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}

.contact .contact-us-desc small {
  color: #606060;
  font-size: 1.2rem;
}

.contact .contact-us-form .form-info-title,
.contact .form-title-request {
  padding: 2rem 0.8rem;
  font-size: 1.4rem;
}

.contact .contact-us-form .contact-us-title-title {
  font-size: 1.4rem;
  color: #0c0c0c;
  margin-left: 0.8rem;
}

.contact .contact-us-form .contact-us-title-envelope {
  font-size: 1.2rem;
  color: #0c0c0c;
}

.contact .form-name {
  width: 100%;
}

.contact .form-subject,
.contact .form-name input,
.contact .form-country,
.contact .form-language,
.contact .form-email,
.contact .form-number {
  margin-bottom: 1.2rem;
  width: 100%;
}

.contact .form-name,
.contact .form-country,
.contact .form-language,
.contact .form-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .form-country-language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .form-select-title {
  padding: 0 1.6rem 0.8rem 1.6rem;
  border-bottom: 1px solid #d1cfcf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 100%;
}

.contact .form-select-title h4 {
  font-size: 1.4rem;
  color: #606060;
}

.contact .form-select-title i {
  font-size: 1rem;
  color: #0c0c0c;
}

.contact .form-select-title-items {
  display: none;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  width: 100%;
}

.contact .form-select-title-items li {
  font-size: 1.3rem;
  color: #606060;
  padding: 0.5rem 1.7rem;
  margin-bottom: 0.3rem;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.contact .form-select-title-items li:hover {
  background-color: #606060;
  color: #fff;
}

.contact .form-name input {
  border: none;
  outline: none;
  padding: 0 1.6rem 0.8rem 1.6rem;
  border-bottom: 1px solid #d1cfcf;
  background-color: transparent;
  font-size: 1.4rem;
}

.contact .form-email input,
.contact .form-number input {
  border: none;
  outline: none;
  padding: 0 1.6rem 0.8rem 1.6rem;
  background-color: transparent;
  font-size: 1.4rem;
}

.contact .form-email,
.contact .form-number {
  border-bottom: 1px solid #d1cfcf;
}

.contact .form-request-container {
  padding-left: 0.8rem;
}

.contact .form-request-container h4 {
  font-size: 1.4rem;
  color: #606060;
  margin-bottom: 1.6rem;
}

.contact .form-request-btns {
  margin-bottom: 0.8rem;
}

.contact .form-request-btns button {
  padding: 0.4rem 1.6rem;
  margin-right: 0.8rem;
  background-color: transparent;
  outline: none;
  border: 1px solid #dbdada;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}

.contact .form-request-btns button:hover {
  background-color: #79043c;
  color: #fff;
}

.contact .form-request-text {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.4rem;
  color: #606060;
  margin-top: 0.8rem;
  resize: none;
}

.contact .form-checked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 1.6rem;
  margin-left: 0.8rem;
}

.contact .form-checked p {
  font-size: 1.2rem;
}

.contact .form-checked span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid gray;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 0.6px;
  margin-right: 0.5rem;
}

.contact .contact-us-line {
  margin: 1.6rem 0;
  width: 100%;
  height: 1px;
  background-color: #d5d3d4;
}

.contact hr {
  margin: 3rem 0;
}

.contact .form-submit-btn button {
  margin-top: 3.2rem;
  width: 100%;
  background-color: transparent;
  color: #a10550;
  border: 1px solid #a10550;
  padding: 0.8rem 0;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.contact .form-submit-btn button:hover {
  background-color: #a10550;
  color: #fff;
}

.contact .items {
  position: relative;
  margin-top: 6rem !important;
  margin-bottom: 6rem !important;
}

.contact .title-item,
.contact .icon-item {
  color: #a10550;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact .chat-us,
.contact .call-us,
.contact .msg-us {
  padding: 1.6rem;
  background-color: #dfdfdf2a;
}

.contact .chat-us h3,
.contact .call-us h3,
.contact .msg-us h3 {
  border-bottom: 1px solid #b4b6b7;
}

.contact .btn-item {
  color: #a10550;
  border: 1px solid #a10550;
  background-color: transparent;
  cursor: pointer;
}

.contact .btn-item:hover {
  background-color: #a10550;
  color: #fff;
}

.contact .desc-item {
  color: #606060;
}

@media (min-width: 768px) {
  .contact .chat-us h3,
  .contact .call-us h3,
  .contact .msg-us h3 {
    border-bottom: none;
  }
  .contact .form-contact-container {
    display: block;
  }
  .contact .contact-us-form .contact-us-form-dropleft {
    display: none;
  }
  .contact .contact-us-form .contact-us-form-title {
    margin-bottom: 4.7rem;
  }
  .contact .contact-us-desc h2 {
    font-size: 3.2rem;
    margin-bottom: 2.4rem;
  }
  .contact .contact-us-desc p {
    font-size: 1.8rem;
  }
  .contact .contact-us-desc small {
    font-size: 1.4rem;
  }
  .contact .contact-us-desc {
    margin-bottom: 4.8rem;
  }
  .contact .contact-us-form {
    width: 82.6%;
    margin: 0 auto;
  }
  .contact .contact-us-form .contact-us-title-title {
    font-size: 2.4rem;
    color: #a10550;
  }
  .contact .contact-us-form .contact-us-title-envelope {
    font-size: 2rem;
    color: #a10550;
  }
  .contact .form-name,
  .contact .form-address {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact .form-email input,
  .contact .form-name input,
  .contact .form-number input {
    font-size: 2rem;
  }
  .contact .form-name input,
  .contact .form-country,
  .contact .form-language,
  .contact .form-subject,
  .contact .form-email,
  .contact .form-number {
    width: 49%;
    margin-bottom: 2.4rem;
  }
  .contact .form-country-language {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact .contact-us-form .form-info-title {
    font-size: 2rem;
    color: #0c0c0c;
  }
  .contact .form-title-request {
    font-size: 2rem;
    color: #0c0c0c;
    margin-top: 2rem;
  }
  .contact .form-select-title h4 {
    font-size: 2rem;
  }
  .contact .form-select-title i {
    font-size: 1.5rem;
    color: #0c0c0c;
  }
  .contact .form-request-container h4 {
    font-size: 2rem;
    margin-top: 1.6rem;
    margin-bottom: 0.8rem;
  }
  .contact .form-request-text {
    font-size: 1.5rem;
  }
  .contact .form-request-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0.8rem;
  }
  .contact .form-request-btns button {
    padding: 0.8rem 0.35rem;
    margin-right: 2rem;
  }
  .contact .form-checked p {
    font-size: 1.4rem;
  }
  .contact .form-checked {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1.6rem;
  }
  .contact .form-checked p {
    font-size: 1.4rem;
  }
  .contact .form-checked span {
    border: 1px solid gray;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 2px;
    margin-right: 0.5rem;
  }
  .contact .form-submit-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .contact .form-submit-btn button {
    width: auto;
    padding: 0.8rem 1.6rem;
  }
}

.contact .logo-group {
  position: relative;
  overflow: hidden;
}

.contact .container-column-logo {
  width: 100%;
  position: absolute;
  top: 0;
  height: 100%;
}

.contact .col-overlay-logo div {
  height: 100%;
}

.contact .inner-col-logo {
  background-color: #79043d78;
  opacity: 0.2;
}

.contact .logo-img img {
  height: 2rem;
  width: 2rem;
}

.contact .logo-text {
  color: #79043c;
  font-size: 1.2rem;
  margin-left: 1rem;
}

@media (min-width: 768px) {
  .contact .logo-img img {
    height: 4rem;
    width: 4rem;
  }
  .contact .logo-text {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=contact.css.map */